/* Style form and input fields */
form {
  margin-top: 80px;
}

input {
  border: 1px solid #C5A025;
}

input:focus {
  outline: none;
  border: 1px solid #FFD136;
  background-color: #FFD136;
  transition: border-color 0.3s, background-color 0.3s;
}

input.ng-touched.ng-invalid {
  border: 2px solid #9F0008;
}

/* Style button */
button {
  padding: 10px;
  border: 1px solid #FFD136;
  background-color: #FFD136;
  border-radius: 6%;
  width: 100%;
}

button:hover {
  border: 1px solid #4B41C9;
  background-color: #4B41C9;
  color: #ffffff;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

button:focus {
  outline: none;
  border: 1px solid #3D34A9;
  background-color: #3D34A9;
  color: #ffffff;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

button:disabled {
  cursor: not-allowed;
  background-color: #FFD136;
  color: #808080;
  border: none;
}

/* Style label and help block*/
label {
  font-weight: 400;
}

.help-block {
  color: #9F0008;
}

/* Style paragraph for displaying messages to the user */
p {
  text-align: center;
  color: #3D34A9;
  background-color: #FFD136;
  padding: 15px;
}

