.row {
  margin-top: 80px;
}

/*Style table*/
table {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  font-weight: 400;
  font-size: 110%;
  color: #302989;
}

th, td {
  border-bottom: 1px solid #808080;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Style table for small screens */
@media only screen and (max-width: 767px),
(min-width: 768px) and (max-width: 1024px) {
  table, tbody, thead, tr, th, td {
    display: block;
  }

  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
    padding: 6px;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px; 
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "First Name" }
  td:nth-of-type(2):before { content: "Last Name" }
  td:nth-of-type(3):before { content: "Country" }
  td:nth-of-type(4):before { content: "City" }
  td:nth-of-type(5):before { content: "Address" }
  td:nth-of-type(6):before { content: "Phone Number" }
}

/*Set style for search input fields*/
input {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

input:focus {
  background-color: #FFD136;
  outline: none;
  border: 2px solid #FFD136;
  transition: background-color 0.3s, border 0.3s;
}

.icon-group-1,
.icon-group-2,
.icon-group-3,
.icon-group-4 {
  position: relative;
}

.icon-group-1 .glyphicon,
.icon-group-2 .glyphicon,
.icon-group-3 .glyphicon,
.icon-group-4 .glyphicon {
  position: absolute;
  top: 13px;
  left: 2px;
  color: #808080;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

/* Overwriting styles for pagination elements */
.custom-pagination /deep/ .ngx-pagination .current {
  background: #302989;
  color: #ffffff;
  text-decoration: none;
  cursor: default;
}

.custom-pagination /deep/ .ngx-pagination a {
  color: #616060;
}

.custom-pagination /deep/ .ngx-pagination a:hover {
  text-decoration: none;
  background: #4B41C9;
  color: #ffffff;
}

.custom-pagination /deep/ .ngx-pagination a:focus {
  outline: none;
  text-decoration: none;
  background: #302989;
  color: #ffffff;
}

.custom-pagination /deep/ .ngx-pagination a:active {
  outline: none;
  text-decoration: none;
  background: #302989;
  color: #ffffff;
}



